* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #EBEAB4;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EBEAB4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul LI a:hover::after {
    width: 100%;
}


.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/join-us-bg.jpg);
    position: relative;
}

.container {
    padding: 10px 10%;
}


.header-text h1{
    font-size: 75px;
    margin-top: 20%;
    color: white;
    display: flex;
    justify-content: center;
}

.header-text p {
    margin: 20px 0;
    font-size: 20px;
}

/* --------Why Join--------- */
.why-join-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    border-radius: 8px;
    max-width: 100%;
    margin: 20px auto;
}

.flex-join-text-col {
    flex-basis: 50%; 
}

.flex-join-img-col {
    flex-basis: 50%; 
    margin-left: 5%; 
}

.flex-join-text-col h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
   
}

.flex-join-text-col p {
    font-size: 20px;
    margin: 0;
    color: black;
}

.flex-join-img-col img {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
}

/* ------Form------- */

.contact-form{
    width: 100%;
}

.join-form-section {
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

form input, select {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form .btn-submit {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 16px;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}

.join-form-section h1{
    color: black;
    font-size: 30px;
    text-align: center;
}

/* Footer */

.footer {
    background-color: black;
}

.social-brands{
    text-align: center;
    margin: 40px 0;
}

.social-brands a i{
    transition: transform 0.5s;
}

.social-brands a i:hover{
    color: #EBEAB4;
    transform: translateY(-5px);
}
.fa-brands{
    color: white;
    font-size: 25px;
    margin: 0 20px;
}

.copyright p{
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
}

.terms p{
    margin: 10px 20px;
    color: #EBEAB4;
    cursor: pointer;
}

/* -------responsive css------------ */
