/* ------------Global CSS -----------------*/
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
}

.container {
    padding: 10px 10%;
}


.logo-btn img{
    width: 100px;
}

.logo-btn{
    margin: 0 5%;
    cursor: pointer;
}


.header-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.141), rgba(4, 9, 30, 0.7)), url(/Images/login-bg.jpg);
    position: relative;
}

.header-text p {
    margin: 20px 0;
    font-size: 20px;
}

/* --------Login--------- */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.wrapper{
    background: rgba(2, 4, 12, 0.544);
    backdrop-filter: blur(1px);
    width: 35%;
    height: 65vh;
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: white;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px; 
    margin: 30px 0;
    border-radius: 40px;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    background: transparent;
    border: 1px solid;
    font-size: 16px;
    padding: 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-bar{
    color: white;
}

.wrapper .rem-for{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: -15px 0 15px;
}

.fa-solid{
    color: white;
}

#toggle-pass, #hide-pass{
    cursor: pointer;
}

.rem-for label input{
    margin-right: 3px;
    justify-content: center;
}

.checkbox-label{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.rem-for a{
    color: white;
    text-decoration: none;
}

.rem-for a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}

.wrapper .reg-link{
    font-size: 14px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.reg-link p a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    
}

.reg-link p{
    margin-top: 30px;
}

.reg-link p a:hover{
    text-decoration: underline;
}
