/**** Global ****/

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #EBEAB4;
    color: white;
}

.container {
    padding: 10px 10%;
}

/**** Navbar ****/

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EBEAB4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/**** header-section ****/

.about-header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/about-bg.jpg);
    position: relative;
}

.abt-header-text h1 {
    font-size: 75px;
    margin: 20% 0;
}

/**** middle-section ****/

.middle-sect{
    margin-bottom: 40px;
}

.sub-head {
    text-align: center;
    color: black;
    font-size: 65px;
    margin: 50px 0;
}

.box-1 {
    margin: 20px 40px;
    font-size: 65px;
}

.box-2 {
    text-align: right;
    margin: 20px 40px;
    font-size: 65px;
}

.bio-box {
    border: 1px solid black;
    border-radius: 30px;
    background-color: black;
}

.box-content {
    display: flex;
    gap: 70px;
}

.box-content p {
    font-size: 18px;
    margin-right: 40px;
}

.box-content img {
    border-radius: 20px;
    margin: 0 40px;
    margin-bottom: 80px;
}

.line {
    width: 10px;
    height: 250px;
    background-color: black;
    border: black;
    margin: auto;
}

.cta {
    margin-bottom: 30px;
}

.cta p {
    text-align: center;
    color: black;
    margin-top: 10px;
    font-size: 25px;
}

.btn-div {
    text-align: center;
    margin-top: 30px;
}

.join-btn {
    padding: 20px 40px;
    border-radius: 500px;
    border: black solid 1px;
    background-color: transparent;
    transition: background 0.5s;
    color: black;
    cursor: pointer;
    margin: 20px 0;
    font-size: 20px;
    text-decoration: none;
}

.join-btn:hover {
    background-color: black;
    color: white;
}

/**** Footer ****/

.footer {
    background-color: black;
}

.social-brands{
    text-align: center;
    margin: 40px 0;
}

.social-brands a i{
    transition: transform 0.5s;
}

.social-brands a i:hover{
    color: #EBEAB4;
    transform: translateY(-5px);
}
.fa-brands{
    color: white;
    font-size: 25px;
    margin: 0 20px;
}

.copyright p{
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
}

.terms p{
    margin: 10px 20px;
    color: #EBEAB4;
    cursor: pointer;
}