/**** Global ****/

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #EBEAB4;
    color: white;
}

.container {
    padding: 10px 10%;
}

/**** Navbar ****/

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EBEAB4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/**** header-section ****/

.checkout-header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/checkout-bg.jpg);
    position: relative;
}

.ck-header-text {
    font-size: 75px;
    margin: 20% 0;
}

/**** Order checkout-section ****/

.ck-title h1 {
    text-align: center;
    color: black;
    font-size: 65px;
    margin: 50px 0;
}

.two-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.img-container img {
   border-radius: 20px; 
}

.item-container {
    background-color: #D9D9D9;
    color: black;
    padding: 40px;
    width: 600px;
    border-radius: 20px;
}

.item-container h2 {
    font-size: 65px;
    
}

.item-container h3 {
    font-size: 30px;
    font-style: italic;
}

.item-container p {
    font-size: 20px;
    margin: 10px 0;
}

.size-select {
    display: flex;
}

.sizes {
    border: 1px solid;
    padding: 10px 50px;
    background-color: white;
    margin: 40px 0;
    transition: 0.5s;
}

.sizes:hover {
    background-color: black;
    color: white;
}

.items {
    display: flex;
}

.item-1 p {
    font-size: 25px;
}

.item-2 button {
    padding: 10px 40px;
    border: black solid 1px;
    background-color: black;
    transition: background 0.5s;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 260px;
}

.last {
    margin: 30px 0;
    display: flex;
}

.pickup {
   color: black;
   font-size: 25px; 
}

.last-2 label {
    font-size: 25px;
}

.last-2 select {
    font-size: 15px;
}

.last-2 {
    margin-left: 260px;
}

.bottom-btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.complete-order, .continue-shopping {
    padding: 20px 40px;
    border-radius: 500px;
    border: black solid 1px;
    background-color: transparent;
    transition: background 0.5s;
    color: black;
    cursor: pointer;
    margin: 20px 0;
    font-size: 20px;
    text-decoration: none;
}

.complete-order:hover, .continue-shopping:hover {
    color: white;
    background-color: black;
}



/**** Footer-section ****/

.footer {
    background-color: black;
}

.social-brands {
    text-align: center;
    margin: 40px 0;
}

.social-brands a i {
    transition: transform 0.5s;
}

.social-brands a i:hover {
    color: #EBEAB4;
    transform: translateY(-5px);
}

.fa-brands {
    color: white;
    font-size: 25px;
    margin: 0 20px;
}

.copyright p {
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
}

.terms p {
    margin: 10px 20px;
    color: #EBEAB4;
    cursor: pointer;
}