/**** Global ****/

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #EBEAB4;
    color: white;
}

.container {
    padding: 10px 10%;
}

/**** Navbar ****/

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #EBEAB4;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/**** header-section ****/

.locations-header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../Images/locations-bg.jpg);
    position: relative;
}

.l-header-text h1 {
    font-size: 75px;
    margin: 20% 0;
}

/**** middle-section ****/

.sub-head {
    text-align: center;
    color: black;
    font-size: 65px;
    margin: 50px 0;
}

.location-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.search-bar {
    margin-bottom: 20px;
    border: 1px solid #D0D0D0;
    background-color: #D0D0D0;
    padding: 30px 20px;
    border-radius: 20px;
}

.search-bar span {
    font-size: 25px;
    color: black;
    margin: 0 30px;
}

.search-bar input {
    padding: 10px;
}

#zip-code, #distance {
    padding: 10px;
}

.search-bar button {
    margin: 0 30px;
    padding: 10px;
    background-color: #444444;
    border: gray;
    color: white;
}

.map-integration {
    display: flex;
    gap: 40px;
}

.side-bar {
    border: 1px solid #444444;
    border-radius: 20px;
    background-color: #444444; 
}

.box-title {
    display: flex;
    gap: 10px;
}

.bar {
    padding: 30px;
}

.bar p {
    font-size: 14px;
    margin-top: 5px;
}

.line-bar {
    width: 80%;
    margin: auto;
}

/**** Footer-section ****/

.footer {
    background-color: black;
}

.social-brands {
    text-align: center;
    margin: 40px 0;
}

.social-brands a i {
    transition: transform 0.5s;
}

.social-brands a i:hover {
    color: #EBEAB4;
    transform: translateY(-5px);
}

.fa-brands {
    color: white;
    font-size: 25px;
    margin: 0 20px;
}

.copyright p {
    text-align: center;
}

.terms {
    display: flex;
    justify-content: center;
}

.terms p {
    margin: 10px 20px;
    color: #EBEAB4;
    cursor: pointer;
}