* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    background-image: url(/Images/background.jpg);
    background-size: cover;
  }
  
  .container {
    overflow: hidden;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(/Images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
  }
  
  .nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px;
    background: #0f2027;
    background: linear-gradient(to right, #89724e, #554221, #302009);
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav-bar li {
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-bar li:hover {
    transform: translateY(-5px); /* Move to the right */
  }
  
  .title {
    color: white;
    font-size: 70px;
    margin-right: auto;
  }
  
  .nav-bar li {
    list-style: none;
    display: inline-block;
    font-size: 30px;
  }
  
  .nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 25px;
    transition: all 0.3s ease;
  }


  .card-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.card-1, .card-2, .card-3{
  width: 100%; 
  height: auto;
  max-width: 600px; 
  padding: 20px;
  margin-bottom: 20px; 
  background-color: rgba(245, 245, 245, 0.9); 
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-1 img {
  width: 50%;
  height: 20%;
  border-radius: 5px;
}
.card-2 img {
  width: 50%;
  height: 20%;
  border-radius: 5px;
}
.card-3 img{
  width: 50%;
  height: 20%;
}
.footer{
  background-color: grey ;
  text-align: center;
}
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .nav-bar-container {
      padding: 20px 50px;
    }
  
    .title {
      font-size: 50px;
    }
  
    .nav-bar li a {
      font-size: 25px;
    }
  }
  
  @media (max-width: 768px) {
    .nav-bar-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .title {
      font-size: 40px;
      margin-bottom: 20px;
    }
  
    .nav-bar {
      flex-direction: column;
      width: 100%;
    }
  
    .nav-bar li {
      padding: 10px 0;
    }
  
    .nav-bar li a {
      font-size: 20px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  
    .nav-bar li a {
      font-size: 18px;
    }
  }
  